.SortHeader {
  display: flex;
  font-weight: bold;
  border-bottom: 1px solid rgb(21, 99, 172);
  padding-left: 10px;
}

.SortHeaderItem {
  width: 100%;
}

.SortTitle {
  cursor: pointer;
  color: rgb(28, 139, 243);
}

.SortTitle:hover {
  color: rgb(21, 99, 172);
}

.SortTitleActive {
  cursor: pointer;
  color: rgb(21, 99, 172);
}

.ArrowIcon {
  position: relative;
  margin-left: 5px;
}

.UpIcon {
}

.DownIcon {
}

.EditDelete {
  flex-grow: 0;
  margin-right: 10px;
}
